html {
	height: 100%;
}

body {
	font-family: "Gilroy", sans-serif;
	color: $color;
	height: 100%;
	background-color: $main_color;
	max-height: 100vh;
	overflow: hidden;
}

a {
	color: $color;
	text-decoration: none;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	max-height: 100%;
}

.container {
	margin: 0 auto;
	padding: 0 1.25rem;
}