@import "_fonts";
@import "_reset";
@import "_mixins";
@import "_tamplates";
@import "_variables";
@import "_root";

.wrapper {
	display: grid;
	grid-template-rows: 1fr minmax(4rem, 4.5rem);
	grid-template-columns: 1fr;
	height: 100%;
}

.title {
	position: relative;
	z-index: 2;
}

.index {
	z-index: 10;
}

.main {
	&__slides {
		position: relative;
		width: calc(100% - 2.5rem);
		height: 100%;
		max-height: calc(100vh - 7rem);
		padding: 1.25rem;
	}

	&__slide {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		z-index: 1;
		top: 1.25rem;
		bottom: 1.25rem;
		left: 0;
		right: 1.25rem;
		width: 100%;
		height: 100%;
		margin: auto;
	}

	&__slide[data-animation="left-right"] {
	}

	&__slide[data-animation="top-bottom"] {
	}

	&__slide[data-animation="top"] {
	}

	&__slide--current {
		z-index: 9;
	}

	&__slide-container {
		display: flex;
		position: relative;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: calc(100% - 2.5rem);
		height: 100%;
		margin: auto;
	}

	&__image {
		position: absolute;
		overflow: hidden;
		width: 100%;
		height: calc(100vh - 7rem);
		background: linear-gradient(0deg, #000 0%, #000 100%), lightgray 50% / cover no-repeat;
		border-radius: 8px;
		img {
			object-fit: cover;
			object-position: 50% 50%;
			width: 100%;
			height: 100%;
		}
	}

	&__title-big {
		font-size: 4rem;
		font-family: Gilroy;
		font-weight: 700;
		color: $color;
		text-align: center;
		&::after {
			content: "";
			display: block;
			width: 8rem;
			height: 3px;
			margin: 6rem auto 1.88rem;
			background-color: $color;
		}
	}

	&__title-quote {
		display: flex;
		gap: 1rem;
		padding-bottom: 1.25rem;
		font-size: 1.5rem;
		font-family: Gilroy;
		color: $color;
	}

	&__title-author {
		font-size: 1.125rem;
		font-family: Gilroy;
		font-weight: 500;
		color: $color;
	}

	&__title-border {
		font-size: 2rem;
		font-family: Gilroy;
		font-weight: 600;
		color: $color;
		&::after {
			content: "";
			display: block;
			width: 8rem;
			height: 3px;
			margin: 1.5rem auto 3rem;
			background-color: $color;
		}
	}

	&__title-text {
		max-width: 70rem;
		font-size: 2.25rem;
		font-family: Gilroy;
		font-weight: 600;
		color: $color;
		text-align: center;
	}

	&__title-top {
		padding: 1rem 10% 1rem 0;
		padding-right: 20%;
		font-size: 2.5rem;
		font-family: Gilroy;
		font-weight: 700;
		color: $color;
	}

	&__title-bottom {
		padding: 1rem 0 1rem 10%;
		font-size: 2.5rem;
		font-family: Gilroy;
		font-weight: 700;
		color: $color;
	}

	&__title-date {
		transform: translateY(-6rem);
		font-size: 2rem;
		font-family: Gilroy;
		font-weight: 900;
		color: $color;
	}

	&__hr {
		position: relative;
		z-index: 3;
		width: 100%;
		height: 1px;
		background-color: $color;
	}
}

.footer {
	padding: 0 1.25rem;
	border-top: 1px solid $secondary-color;
	&__info {
		display: grid;
		align-items: center;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr minmax(6rem, 8rem) minmax(6rem, 8rem);
		height: 100%;
	}
}

.info {
	&__logo {
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-content: center;
	}

	&__projects {
		display: flex;
		align-items: center;
		img {
			margin-right: 2.5rem;
		}
	}

	&__creator {
		padding-right: 1.25rem;
		font-size: 1.125rem;
		font-family: Gilroy;
		font-weight: 500;
		color: $color;
		span {
			font-size: 0.75rem;
			font-family: Gilroy;
			font-weight: 500;
			color: $color;
		}
	}

	&__icons {
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 100%;
		border-left: 1px dashed rgba(214, 212, 203, 0.2);
	}

	&__icons-social {
		justify-content: space-evenly;
	}

	&__icon {
		cursor: pointer;
	}

	&__icon-border {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1.875rem;
		height: 1.875rem;
		border: 1px dashed $color;
		border-radius: 50%;
		font-size: 0.8125rem;
		font-family: Gilroy;
		font-weight: 500;
		color: $color;
	}
}
